In [105]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import gc
warnings.simplefilter('ignore')
matplotlib.rcParams['figure.dpi'] = 100
sns.set()
%matplotlib inline

building = pd.read_csv('building_metadata.csv')
weather_train = pd.read_csv('weather_train.csv')
weather_test = pd.read_csv('weather_test.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [106]:
#Before we merge the dataset into one training dataset, we need to preprocessing the missing value first
def missing_statistics(df):    
    statitics = pd.DataFrame(df.isnull().sum()).reset_index()
    statitics.columns=['COLUMN NAME',"MISSING VALUES"]
    statitics['TOTAL ROWS'] = df.shape[0]
    statitics['% MISSING'] = round((statitics['MISSING VALUES']/statitics['TOTAL ROWS'])*100,2)
    return statitics

def fill_missing_column(df,filler_df,col):
    null_df = df.loc[df[col].isnull()]
    
    if null_df.empty != True:
        null_df[col] = null_df.apply(lambda x: filler_df.loc[x['site_id']][x['day']][x['month']], axis=1)
        df.loc[null_df.index, col] = null_df[col]
    
    return df

In [86]:
missing_statistics(building)

   COLUMN NAME  MISSING VALUES  TOTAL ROWS  % MISSING
0      site_id               0        1449       0.00
1  building_id               0        1449       0.00
2  primary_use               0        1449       0.00
3  square_feet               0        1449       0.00
4   year_built             774        1449      53.42
5  floor_count            1094        1449      75.50

In [87]:
missing_statistics(weather_train)

          COLUMN NAME  MISSING VALUES  TOTAL ROWS  % MISSING
0             site_id               0      139773       0.00
1           timestamp               0      139773       0.00
2     air_temperature              55      139773       0.04
3      cloud_coverage           69173      139773      49.49
4     dew_temperature             113      139773       0.08
5   precip_depth_1_hr           50289      139773      35.98
6  sea_level_pressure           10618      139773       7.60
7      wind_direction            6268      139773       4.48
8          wind_speed             304      139773       0.22

In [88]:
missing_statistics(train)

     COLUMN NAME  MISSING VALUES  TOTAL ROWS  % MISSING
0    building_id               0    20216100        0.0
1          meter               0    20216100        0.0
2      timestamp               0    20216100        0.0
3  meter_reading               0    20216100        0.0

In [107]:
def fill_weather_dataset(weather_df):
    
    # Add new Features
    weather_df["timestamp"] = pd.to_datetime(weather_df["timestamp"])
    weather_df["day"] = weather_df["timestamp"].dt.day
    weather_df["week"] = weather_df["timestamp"].dt.week
    weather_df["month"] = weather_df["timestamp"].dt.month
    
    air_temperature_filler = weather_df.groupby(['site_id','day','month'])['air_temperature'].mean()
    weather_df = fill_missing_column(weather_df,air_temperature_filler,'air_temperature')    

    cloud_coverage_filler = weather_df.groupby(['site_id','day','month'])['cloud_coverage'].mean()
    cloud_coverage_filler = cloud_coverage_filler.fillna('ffill')
    weather_df = fill_missing_column(weather_df,cloud_coverage_filler,'cloud_coverage')

    due_temperature_filler = weather_df.groupby(['site_id','day','month'])['dew_temperature'].mean()
    weather_df = fill_missing_column(weather_df,due_temperature_filler,'dew_temperature')

    sea_level_filler = weather_df.groupby(['site_id','day','month'])['sea_level_pressure'].mean()
    sea_level_filler = sea_level_filler.fillna('ffill')
    weather_df = fill_missing_column(weather_df,sea_level_filler,'sea_level_pressure')

    wind_direction_filler = weather_df.groupby(['site_id','day','month'])['wind_direction'].mean()
    weather_df = fill_missing_column(weather_df,wind_direction_filler,'wind_direction')

    wind_speed_filler = weather_df.groupby(['site_id','day','month'])['wind_speed'].mean()
    weather_df = fill_missing_column(weather_df,wind_speed_filler,'wind_speed')

    precip_depth_filler = weather_df.groupby(['site_id','day','month'])['precip_depth_1_hr'].mean()
    precip_depth_filler = precip_depth_filler.fillna('ffill')
    weather_df = fill_missing_column(weather_df,precip_depth_filler,'precip_depth_1_hr')

    weather_df.drop(['day','week','month'],axis=1)
    
    return weather_df

weather_train = fill_weather_dataset(weather_train)

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,day,week,month
0,0,2016-01-01 00:00:00,25.0,6,20.0,-0.173913,1019.7,0.0,0.0,1,53,1
1,0,2016-01-01 01:00:00,24.4,4.28571,21.1,-1,1020.2,70.0,1.5,1,53,1
2,0,2016-01-01 02:00:00,22.8,2,21.1,0,1020.2,0.0,0.0,1,53,1
3,0,2016-01-01 03:00:00,21.1,2,20.6,0,1020.1,0.0,0.0,1,53,1
4,0,2016-01-01 04:00:00,20.0,2,20.0,-1,1020,250.0,2.6,1,53,1
5,0,2016-01-01 05:00:00,19.4,4.28571,19.4,0,1018.93,0.0,0.0,1,53,1
6,0,2016-01-01 06:00:00,21.1,6,21.1,-1,1019.4,0.0,0.0,1,53,1
7,0,2016-01-01 07:00:00,21.1,4.28571,21.1,0,1018.8,210.0,1.5,1,53,1
8,0,2016-01-01 08:00:00,20.6,4.28571,20.0,0,1018.1,0.0,0.0,1,53,1
9,0,2016-01-01 09:00:00,21.1,4.28571,20.6,0,1019,290.0,1.5,1,53,1
10,0,2016-01-01 10:00:00,21.1,4.28571,20.6,-1,1018.4,0.0,0.0,1,53,1
11,0,2016-01-01 11:00:00,20.6,4.28571,20.0,0,1018.9,0.0,0.0,1,53,1
12,0,2016-01-01 12:00:00,18.9,6,18.9,0,1019.2,210.0,1.5,1,53,1
13,0,2016-01-01 13:00:00,20.0,4.28571,20.0,0,1019.6,0.0,0.0,1,53,1
14,0,2016-01-01 14:00:00,21.7,4.28571,21.1,0,1020.1,0.0,0.0,1,53,1
15,0,2016-01-01 15:00:00,23.9,4.28571,21.1,0,1020.3,210.0,3.1,1,53,1
16,0,2016-01-01 16:00:00,26.1,4.28571,20.0,0,1020.2,210.0,4.1,1,53,1
17,0,2016-01-01 17:00:00,26.7,4.28571,20.6,0,1019.5,230.0,3.6,1,53,1
18,0,2016-01-01 18:00:00,27.8,6,20.0,0,1018.2,200.0,5.1,1,53,1
19,0,2016-01-01 19:00:00,28.3,4.28571,19.4,0,1017.2,180.0,5.1,1,53,1
20,0,2016-01-01 20:00:00,28.3,4.28571,18.9,0,1017,210.0,4.1,1,53,1
21,0,2016-01-01 21:00:00,27.8,4.28571,18.3,0,1016.8,220.0,4.6,1,53,1
22,0,2016-01-01 22:00:00,26.7,4.28571,18.3,0,1016.9,230.0,3.1,1,53,1
23,0,2016-01-01 23:00:00,25.6,4.28571,18.3,0,1017.5,230.0,3.1,1,53,1
24,0,2016-01-02 00:00:00,24.4,6,18.9,-1,1018.1,270.0,2.6,2,53,1
25,0,2016-01-02 01:00:00,23.9,4,18.3,0,1018.5,300.0,2.1,2,53,1
26,0,2016-01-02 02:00:00,22.2,5.66667,19.4,0,1018.96,360.0,5.7,2,53,1
27,0,2016-01-02 03:00:00,21.1,5.66667,18.9,0,1019.5,20.0,5.1,2,53,1
28,0,2016-01-02 04:00:00,20.6,5.66667,17.8,0,1019.4,30.0,4.6,2,53,1
29,0,2016-01-02 05:00:00,19.4,4,17.2,0,1019.3,20.0,2.6,2,53,1
...,...,...,...,...,...,...,...,...,...,...,...,...
139743,15,2016-12-30 18:00:00,-1.7,0,-6.1,-1,1004.7,290.0,11.3,30,52,12
139744,15,2016-12-30 19:00:00,-1.7,0,-5.6,-1,1005.5,290.0,9.3,30,52,12
139745,15,2016-12-30 20:00:00,-2.2,0,-5.0,-1,1006.7,270.0,7.2,30,52,12
139746,15,2016-12-30 21:00:00,-1.7,0,-6.1,-1,1007.8,280.0,6.2,30,52,12
139747,15,2016-12-30 22:00:00,-2.2,0,-6.1,-1,1008.7,290.0,7.7,30,52,12
139748,15,2016-12-30 23:00:00,-2.2,0,-6.1,-1,1010.1,290.0,9.3,30,52,12
139749,15,2016-12-31 00:00:00,-3.3,2,-6.1,-1,1011,290.0,7.7,31,52,12
139750,15,2016-12-31 01:00:00,-3.3,2,-6.7,-1,1012.3,290.0,10.3,31,52,12
139751,15,2016-12-31 02:00:00,-3.9,2,-6.7,-1,1013,270.0,5.1,31,52,12
139752,15,2016-12-31 03:00:00,-3.9,2,-7.8,-1,1013.8,270.0,4.1,31,52,12
139753,15,2016-12-31 04:00:00,-4.4,2,-8.3,-1,1014.7,250.0,3.6,31,52,12
139754,15,2016-12-31 05:00:00,-4.4,2,-7.8,-1,1014.9,250.0,3.1,31,52,12
139755,15,2016-12-31 06:00:00,-3.9,2,-7.8,-1,1014.8,230.0,4.6,31,52,12
139756,15,2016-12-31 07:00:00,-3.9,2,-7.8,-1,1015.5,230.0,3.1,31,52,12
139757,15,2016-12-31 08:00:00,-3.9,2,-7.2,-1,1015.6,220.0,3.1,31,52,12
139758,15,2016-12-31 09:00:00,-3.9,2,-7.2,-1,1015.8,210.0,3.1,31,52,12
139759,15,2016-12-31 10:00:00,-3.3,2,-6.7,-1,1015.5,190.0,3.1,31,52,12
139760,15,2016-12-31 11:00:00,-3.3,2,-6.7,-1,1015.3,190.0,4.6,31,52,12
139761,15,2016-12-31 12:00:00,-3.3,2,-7.8,-1,1015.3,190.0,4.1,31,52,12
139762,15,2016-12-31 13:00:00,-3.3,2,-7.8,-1,1014.4,160.0,6.7,31,52,12
139763,15,2016-12-31 14:00:00,-2.8,2,-7.8,-1,1013.4,170.0,5.7,31,52,12
139764,15,2016-12-31 15:00:00,-1.7,4,-7.2,-1,1012.3,160.0,6.7,31,52,12
139765,15,2016-12-31 16:00:00,-0.6,0,-6.7,-1,1011.1,170.0,7.2,31,52,12
139766,15,2016-12-31 17:00:00,2.2,2,-7.8,-1,1009.1,180.0,7.7,31,52,12
139767,15,2016-12-31 18:00:00,2.8,2,-7.8,-1,1007.7,180.0,8.2,31,52,12
139768,15,2016-12-31 19:00:00,3.0,2,-8.0,-1,1012.47,180.0,5.7,31,52,12
139769,15,2016-12-31 20:00:00,2.8,2,-8.9,-1,1007.4,180.0,7.7,31,52,12
139770,15,2016-12-31 21:00:00,2.8,2,-7.2,-1,1007.5,180.0,5.1,31,52,12
139771,15,2016-12-31 22:00:00,2.2,2,-6.7,-1,1008,170.0,4.6,31,52,12
139772,15,2016-12-31 23:00:00,1.7,2,-5.6,-1,1008.5,180.0,8.8,31,52,12

In [108]:
#Below is the statistics table of missing value in each given dataset
missing_statistics(building)

   COLUMN NAME  MISSING VALUES  TOTAL ROWS  % MISSING
0      site_id               0        1449       0.00
1  building_id               0        1449       0.00
2  primary_use               0        1449       0.00
3  square_feet               0        1449       0.00
4   year_built             774        1449      53.42
5  floor_count            1094        1449      75.50

In [109]:
missing_statistics(weather_train)

           COLUMN NAME  MISSING VALUES  TOTAL ROWS  % MISSING
0              site_id               0      139773        0.0
1            timestamp               0      139773        0.0
2      air_temperature               0      139773        0.0
3       cloud_coverage               0      139773        0.0
4      dew_temperature               0      139773        0.0
5    precip_depth_1_hr               0      139773        0.0
6   sea_level_pressure               0      139773        0.0
7       wind_direction               0      139773        0.0
8           wind_speed               0      139773        0.0
9                  day               0      139773        0.0
10                week               0      139773        0.0
11               month               0      139773        0.0

In [110]:
missing_statistics(train)

     COLUMN NAME  MISSING VALUES  TOTAL ROWS  % MISSING
0    building_id               0    20216100        0.0
1          meter               0    20216100        0.0
2      timestamp               0    20216100        0.0
3  meter_reading               0    20216100        0.0

In [52]:
# Merge datasets into one train or test dataset
train = train.merge(building, on='building_id', how='left')
test = test.merge(building, on='building_id', how='left')

train = train.merge(weather_train, on=['site_id', 'timestamp'], how='left')
test = test.merge(weather_test, on=['site_id', 'timestamp'], how='left')
del weather_train, weather_test,building
gc.collect()

200

In [45]:
def fill_missingValue(data, N):
    mis_data = np.nonzero(pd.isnull(data))
    for i in range(len(mis_data)):
        #win_mean = (data.iloc[i-N: i+N]).mean()
        print(data.iloc[mis_data[i]-5: mis_data[i]+5])
        # Preprocessing features with missing values
fill_missingValue(train['air_temperature'], 5)
#Find the index of missing values

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.numeric.Int64Index'> with these indexers [[     717      718      719 ... 20201026 20201027 20201028]] of <class 'numpy.ndarray'>

In [8]:
train.isnull().sum()

building_id                  0
meter                        0
timestamp                    0
meter_reading                0
site_id                      0
primary_use                  0
square_feet                  0
year_built            12127645
floor_count           16709167
air_temperature          96658
cloud_coverage         8825365
dew_temperature         100140
precip_depth_1_hr      3749023
sea_level_pressure     1231669
wind_direction         1449048
wind_speed              143676
dtype: int64

In [32]:
for i in np.nonzero(pd.isnull(train['air_temperature'])):
    print(train['air_temperature'][i])

722        NaN
723        NaN
724        NaN
725        NaN
726        NaN
727        NaN
728        NaN
729        NaN
730        NaN
731        NaN
732        NaN
733        NaN
734        NaN
735        NaN
736        NaN
737        NaN
738        NaN
739        NaN
740        NaN
741        NaN
742        NaN
743        NaN
744        NaN
745        NaN
746        NaN
747        NaN
748        NaN
749        NaN
750        NaN
751        NaN
            ..
20200583   NaN
20200584   NaN
20200585   NaN
20200586   NaN
20200587   NaN
20200588   NaN
20200589   NaN
20200590   NaN
20200591   NaN
20200592   NaN
20200593   NaN
20200594   NaN
20200595   NaN
20200596   NaN
20200597   NaN
20200598   NaN
20201020   NaN
20201021   NaN
20201022   NaN
20201023   NaN
20201024   NaN
20201025   NaN
20201026   NaN
20201027   NaN
20201028   NaN
20201029   NaN
20201030   NaN
20201031   NaN
20201032   NaN
20201033   NaN
Name: air_temperature, Length: 96658, dtype: float64

In [54]:
missing_statistics(train)

           COLUMN NAME  MISSING VALUES  TOTAL ROWS  % MISSING
0          building_id               0    20216100       0.00
1                meter               0    20216100       0.00
2            timestamp               0    20216100       0.00
3        meter_reading               0    20216100       0.00
4              site_id               0    20216100       0.00
5          primary_use               0    20216100       0.00
6          square_feet               0    20216100       0.00
7           year_built        12127645    20216100      59.99
8          floor_count        16709167    20216100      82.65
9      air_temperature           96658    20216100       0.48
10      cloud_coverage         8825365    20216100      43.66
11     dew_temperature          100140    20216100       0.50
12   precip_depth_1_hr         3749023    20216100      18.54
13  sea_level_pressure         1231669    20216100       6.09
14      wind_direction         1449048    20216100       7.17
15          wind_speed          143676    20216100       0.71

In [83]:
#export_csv = weather_train.to_csv (r'C:\Desktop\newWeather_train.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path